@using Sitecore.Demo.Foundation.Dictionary.Extensions
@using Sitecore.Demo.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Mvc.Presentation.RenderingModel

<div class="jumbotron jumbotron-fluid">
    <div class="container">
            <h1 class="display-4">@Html.Sitecore().Field(Sitecore.HabitatHome.Feature.Team.Templates.MemberInfo.Fields.TeamMemberName, Model)</h1>

            <p class="lead">@Html.Sitecore().Field(Sitecore.HabitatHome.Feature.Team.Templates.MemberInfo.Fields.TeamMemberDesc, Model)</p>
    </div>
</div>