<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Feature.Components" description="Feature Components" dependencies="Foundation.*" extends="Helix.Feature">
          <targetDataStore physicalRootPath="$(corporateSourceFolder)\Feature\Components" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="CustomExperienceButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Feature/Demo Shared/Components" />
            <include name="Templates" database="master" path="/sitecore/templates/Feature/Demo Shared/Components" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Demo Shared/Components" />
            <include name="Media" database="master" path="/sitecore/media library/Feature/Demo Shared/Components" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>