<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
    <sitecore unicorn:require="Enabled">
        <unicorn>
            <configurations>
              <configuration name="Feature.Search" description="Feature Search" dependencies="Foundation.*" extends="Helix.Feature">
                <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                  <include name="Templates" database="master" path="/sitecore/templates/Feature/Demo Shared/Search" />
                  <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Demo Shared/Search" />
                </predicate>
              </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>